.my-students {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow:5px 5px 10px black;
    font-weight: bolder;
    margin: auto;
    font-weight: bolder; 
}

.my-students-h1 {
    text-shadow:5px 5px 10px black;
    font-weight: bolder;
}